<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="version_num" default="2"/>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="baud_rate" default="115200"/>
    <arg name="frame_id" default="base_laser_link"/>
    <arg name="scan_topic" default="/scan"/>
    <arg name="rviz" default="false"/>

    <node pkg="line_laser_ros" type="n301n_serial_publisher" name="line_laser" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud_rate" value="$(arg baud_rate)"/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="version_num" value="$(arg version_num)"/>
        <remap from="/scan" to="$(arg scan_topic)"/>
    </node>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find line_laser_ros)/launch/laser.rviz"/>
</launch>
